body{
	background: white;
	border: 1px solid red;
	color: black;
	font-size: 16px;
	margin: 0px auto;
	max-width: 1024px;
}
footer{
	background: orange;
	color: white;
	font-size: 12px;
	text-align: center;
	width: 100%;
}
header{
	text-align: center;
}
header img{
	float:right;
	/*height: 300px*/
	margin: -30px 20px 0px 0px;
	width: 90px;
}
header nav ul li{
	/*border 1px solid tomato*/
	background: orange;
	border-radius: 10px;
	box-shadow: 5px 5px 5px black;
	color: white;
	display: inline-block;
	padding: 5px,10px;
	margin: 0px,10px,0px,0px;
	width: 84px;
}
header nav ul li:hover{
	/*efecto para cuando se pasa el rato por encima de la caja*/
	background: blue;
	color: white;
}
