body{
  font-size: 16px; /*lem*/
  margin: 0 auto; /*centramos el body*/
  max-width: 1078px; /*empresa-cliente*/
  min-width: 1078px;

}
header nav{
  /*border: 1px solid red;*/
  margin-left: 230px;s
}
header nav ul li{
  border-bottom: 1px solid gray;
  color: gray;
  display: inline-block;
  font-size: 1.8em;
  /*text-decoration: underline;*/

}
header input{
  float: right;
  margin-right: -200px;
  position: relative;
  /*static,absolute,fixed*/
}
#granthams{
  margin-top: 20px;
  margin-left: 25px;

}
#paint{
  float: right;
}

#bgoffer{
  left: -75px;
  position: relative;
  top: -410px;
}
#primerseccion{
  height: 318px;
  margin-top: 60px;
}
#primerseccion article{
  display: inline-block;

}
.numerotelefono{
  color: #ff0099;
  font-size: 1.5em;
  font-weight: bond;
  margin-left: 750px;
}
#segundaseccion article{
  text-align: right;
  padding-right: 180px;
}
#secc01art01{
  width: 60%;
}
#secc01art02{
  margin-left: 50px;
  width: 30%;
}
#secc01art02 ul{
  list-style: none;
}
#secc01art02 ul li:before{
  content: "● ";
  color: #FF0099;
}
.wecanoffer{
  color: #FF0099;
  font-size: 4em;
}
#terceraseccion article{
  display: inline-block;
  vertical-align: top;
  width: 22%;
}
#terceraseccion article img{
  vertical-align: middle;
}
.colorrosa,.green,.Azul{
  font-size: 1.5em;
  font-weight: bold;
}
.colorrosa{
  color: #FF0099;
}
.green{
  color: green;
}
.Azul{
  color: blue;
}
.upload{
  color: blue;
  font-size: 1em;
  font-weight: bold;
}
.findout{
  color: #FF0099;
  font-size: 1.5em;
}
