body{
  border: 1px solid blue;
  font-size: 16px; /*lem*/
  margin: 0 auto;
  max-width: 1024px;
}
form{
  float: right;
  margin-right: 20px;
  margin-top: -40px;
}
header{
  background: #B3D8EB;
}
#logo{
  margin-top: -200px;
}
header nav{
  background: #0E6CB0;
  border-radius: 5px;
  padding: 2px 0px 2px 0px;
  margin: 0 auto;
  width: 99%;
}

header nav ul li{
  width: white;
  display: inline-block;
  margin-right: 20px;
}
#seccion01 article  {
  text-align: center;
  marigin-top: 15px;
  width: 98%;
}
#seccion02 article {
  display: inline-block;
  vertical-align: text-top;
  width: 32.8%;

}
